#Dmain
{
    text-align: center;
    width: 1580px;
    height: 738px;
    background-color: lightblue;
    
}
.gdiv
{
    background-color: green;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    display: inline-block;
    position: relative;
}
button{
position: relative;
top :300px;
right: 390px;
width: 4em;
height: 2em;
font-size: larger;
font-weight: bold;
}
span{
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 48px;
    font-size: 10em;
}
#getscore
{
    position: relative;
    top: 0px;
    font-size: 1em;
    font-weight: normal;
}
#scoreBox {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    font-weight: bold;
}
